/* FONT FACE */
@font-face {
  font-family: "Fraunces 144pt";
  src: url("../fonts/Fraunces144pt-SemiBold.eot");
  src: url("../fonts/Fraunces144pt-SemiBold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Fraunces144pt-SemiBold.woff2") format("woff2"),
    url("../fonts/Fraunces144pt-SemiBold.woff") format("woff"),
    url("../fonts/Fraunces144pt-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Manrope";
  src: url("../fonts/Manrope-Regular.eot");
  src: url("../fonts/Manrope-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Manrope-Regular.woff2") format("woff2"),
    url("../fonts/Manrope-Regular.woff") format("woff"),
    url("../fonts/Manrope-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Manrope";
  src: url("../fonts/Manrope-Bold.eot");
  src: url("../fonts/Manrope-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Manrope-Bold.woff2") format("woff2"),
    url("../fonts/Manrope-Bold.woff") format("woff"),
    url("../fonts/Manrope-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

/* CUSTOM PROPS */

:root {
  /* fonts */
  --heading-font-family: "Fraunces 144pt", "Times New Roman", serif;
  --body-font-family: "Manrope", "Arial", sans-serif;

  /* colors */
  --dark-purple: #24053e;
  --green: #44ffa1;
  --davys-grey: #584d62;
  --ghost-pink: #fcf8ff;
  --white: #fff;

  /* transition */
  --transition-duration: 0.4s;
}

/* GLOBAL STYLES */
html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: var(--body-font-family);
  font-size: 18px;
  line-height: 32px;
  background-color: #fff;
  color: var(--dark-purple);
}

img {
  max-width: 100%;
  height: auto;
}

/* VISUALLY-HIDDEN */
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* AUTOFILL COLORS
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border-color: transparent;
  -webkit-text-fill-color: inherit;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
  transition: background-color 5000s ease-in-out 0s;
}  */

/* PLACEHOLDER COLOR
::-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
:-moz-placeholder {
  color: rgba(52, 49, 61, 0.5);
}  */

/* CONTAINER */

.container {
  width: 100%;
  max-width: 1194px;
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto;
}

/* LOGO */

.logo {
  display: flex;
  text-decoration: none;
  transition: opacity ease var(--transition-duration);
}

.logo:hover {
  opacity: 0.8;
}

.logo:active {
  opacity: 0.6;
}

.site-header__logo {
  display: flex;
}

.logo__img {
  display: block;
  width: 96px;
  height: 25px;
}

/* BUTTON */

.button {
  display: inline-block;
  padding: 9px 22px 10px;
  text-decoration: none;
  color: var(--dark-purple);
  background-color: var(--green);
  text-align: center;
  font-size: 16px;
  line-height: 32px;
  font-weight: 700;
  letter-spacing: -0.16px;
  border: 2px solid var(--green);
  transition: background-color ease var(--transition-duration),
    border-color ease var(--transition-duration),
    color ease var(--transition-duration),
    opacity ease var(--transition-duration);
}

.button:hover {
  background-color: transparent;
  color: var(--green);
}

.button:active {
  opacity: 0.6;
}

/* MAIN CONTENT */
.main-content {
  flex-grow: 1;
}

/* SITE HEADER HERO WRAPPER */

.site-header-hero-features-wrappper {
  position: relative;
  /* background-color: var(--dark-purple); */
  background-image: url("../img/hero-bg-mobile.svg"),
    url("../img/features-bg-mobile.svg");
  background-repeat: no-repeat;
  background-position: top center, bottom center;
  /* height: 482px; */
}

/* PATTERNS */

.pattern-left,
.pattern-right {
  position: absolute;
  display: none;
}

/* SITE-HEADER */

.site-header {
  padding: 32px 0 66px;
}

.site-header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-header__link {
  display: inline-block;
  color: var(--white);
  text-decoration: none;
  font-size: 16px;
  /* font-style: normal; */
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -0.16px;
  border-bottom: 3px solid var(--green);
  transition: color ease var(--transition-duration),
    opacity ease var(--transition-duration);
}

.site-header__link:hover {
  color: var(--green);
}

.site-header__link:active {
  opacity: 0.6;
}

.hero__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero__title {
  color: var(--white);
  text-align: center;
  font-family: var(--heading-font-family);
  font-size: 50px;
  line-height: 50px;
  font-style: normal;
  font-weight: 600;
  margin: 0;
  margin-bottom: 40px;
}

.hero__title span {
  border-bottom: 2px solid var(--green);
}

.hero__button {
  margin-bottom: 64px;
}

.hero__picture {
  display: flex;
  width: 298px;
  height: 178px;
}

.hero__img {
  display: block;
  width: 298px;
  height: 178px;
}

/* features */

.features {
  text-align: center;
  padding-bottom: 72px;
}

.features-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.features-list__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.features-list__item:not(:last-child) {
  margin-bottom: 40px;
}

.features-list__number {
  padding: 5px 16px;
  color: var(--dark-purple);
  font-family: var(--heading-font-family);
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px;
  /* 180% */
  border-radius: 30.5px;
  border: 1px solid var(--davys-grey);
  width: 48px;
  height: 46px;
  margin-bottom: 24px;
}

/* .features-list__info {} */

.feature-list__title {
  margin-top: 0;
  margin-bottom: 16px;
  color: var(--dark-purple);
  font-family: var(--heading-font-family);
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px;
  /* 128.571% */
}

.features-list__paragraph {
  margin: 0;
  color: var(--davys-grey);
  text-align: center;
  font-family: var(--body-font-family);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  /* 175% */
}

/* FOUNDER */

.founder-section {
  position: relative;
  padding-top: 100px;
  padding-bottom: 21px;
}

.founder-section__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.founder-section__img {
  display: block;
  width: 281px;
  height: 281px;
  border-radius: 50%;
  position: relative;
  z-index: -1;
}

.founder-section__info {
  position: relative;
  top: -53px;
  padding: 32px 31px;
  background-color: var(--dark-purple);
  color: #fff;
  text-align: center;
}

.founder-section__title {
  margin-top: 0;
  margin-bottom: 16px;
  font-family: var(--heading-font-family);
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 48px;
  /* 150% */
}

.founder-section__text {
  margin-bottom: 24px;
  font-family: var(--body-font-family);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  /* 175% */
  /* 150% */
}

.site-footer {
  display: flex;
  justify-content: center;
  padding-bottom: 64px;
}

.site-footer__container {
  width: 116px;
  height: 102px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.site-footer__socials {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

.site-footer__socials-item:not(:last-child) {
  margin-right: 16px;
}

.site-footer__socials-link {
  display: flex;
  color: var(--davys-grey);
}

.site-footer__socials-link:hover {
  color: var(--dark-purple);
}

/* MEDIA QUERIES */

@media only screen and (min-width: 376px) {
  .site-header-hero-features-wrappper {
    /* background-color: var(--dark-purple); */
    background-image: url("../img/hero-bg-tablet.svg"),
      url("../img/features-bg-tablet.svg");
    background-repeat: no-repeat;
    background-position: top center, bottom center;
    /* height: 482px; */
  }
}


/* 550 px */
@media screen and (min-width: 550px) {
  .container {
    padding-left: 40px;
    padding-right: 40px;
  }

  .pattern-left,
  .pattern-right {
    display: block;
  }

  .pattern-left {
    top: 72px;
    left: -227px;
  }

  .pattern-right {
    top: 250px;
    right: -93px;
  }

  .hero__picture {
    width: 479px;
    height: 286px;
  }

  .hero__img {
    width: 479px;
    height: 286px;
  }

  .hero__title {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 40px;
  }

  .hero__button {
    margin-bottom: 52px;
  }

  .features-list {
    margin-top: 65px;
  }

  .features-list__item:not(:last-child) {
    margin-bottom: 48px;
  }

  .features-list__item {
    flex-direction: row;
    gap: 32px;
    align-items: center;
  }

  .features-list__number {
    margin-bottom: 0;
    border-radius: 50%;
  }

  .features-list__info,
  .features-list__paragraph {
    text-align: left;
  }


  .founder-section {
    padding: 0;
    margin-bottom: 80px;
  }
  .founder-section__container {
    height: 526px;
    
  }


  .founder-section__info {
    width: 514px;
    height: 375px;
    text-align: left;
    padding: 48px 56px;
    top: -130px;
    align-self: flex-end;
  }
}

.founder-section__title {
  margin-bottom: 24px;
  font-size: 48px;
  line-height: 56px;
}

.founder-section__img {
  align-self: start;
}

@media screen and (min-width: 769px) {
  .site-header-hero-features-wrappper {
    /* background-color: var(--dark-purple); */
    background-image: url("../img/hero-bg-desktop.svg"),
      url("../img/features-bg-desktop.svg");
    background-repeat: no-repeat;
    background-position: top center, bottom center;
    /* height: 482px; */
  }

  .hero__picture {
    width: 715px;
    height: 427px;
  }

  .hero__img {
    width: 715px;
    height: 427px;
  }

}
























/* RETINA BACKGROUNDS */
@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi),
only screen and (min-resolution: 2dppx) {}